.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  .speech-button {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    font-size: 28px;
    font-weight: bold;
    background-color: blue;
    color: white;
    transition: background-color 0.2s;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
  }
  
  .recording {
    background-color: red;
    animation: pulse 1s ease-in-out infinite;
  }
  
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @media (max-width: 768px) {
    .speech-button {
      width: 200px;
      height: 200px;
      font-size: 24px;
    }
  }
  